.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#quote-box {
  height: 900px;
}

#quote-text {
   margin-top: 20px;
  margin-bottom: 50px;
  height: 10rem;
  width: 38rem;
}

.button {
  float: right;
}

#floatRight {
  float: right;
}

.fa {
  font-size: 2rem;
}

#author {
  float: right;
}